*.log

*.tlog

/logfile.txt

/*.suo

*.obj

/bin/bin32/*.pdb

/*.sdf

/intermediates/gpp/Debug_Win32/*.lastbuildstate
*.lastbuildstate

*.idb

*.pdb

*.pch

*.exe

*.ipch
/bin/bin32/fmod.dll
/bin/bin32/fmodL.dll
/bin/bin32/fmodstudio.dll
/bin/bin32/fmodstudioL.dll
/bin/bin32/gameapp_gppd.ilk
/bin/bin32/gepd.dll
/bin/bin32/gepd.ilk
/bin/bin32/gppd.dll
/bin/bin32/gppd.ilk

/lib/lib32/gepd.exp
/lib/lib32/gepd.lib
/lib/lib32/gppd.exp
/lib/lib32/gppd.lib
GPP.opensdf
